$c-black: #000;
$c-grey-first: #2E2E2E;
$c-grey-second: #424242;
$c-grey-third: #585858;
$c-grey-fourth: #6E6E6E;
$c-grey-fifth: #848484;
$c-grey-sixth: #A4A4A4;
$c-grey-seventh: #BDBDBD;
$c-grey-eighth: #D8D8D8;
$c-grey-ninth: #E6E6E6;
$c-grey-tenth: #F2F2F2;
$c-white: #fff;

$c-theme-first: #356089;
$c-theme-second: #80A1C1;
$c-theme-third: #51799F;
$c-theme-fourth: #204B75;
$c-theme-fifth: #0E365D;
$c-theme-sixth: #3C8885;
$c-theme-seventh: #3C7774;
$c-theme-eighth: #25706D;
$c-theme-ninth: #54A5A2;
$c-theme-tenth: #5EA5A3;

$c-success: #5AA035;
$c-warning: #B87D3D;
$c-danger: #B83D3D;
