.f-we-100 {font-weight: 100;}
.f-we-300 {font-weight: 300;}
.f-we-400 {font-weight: 400;}
.f-we-600 {font-weight: 600;}
.f-we-700 {font-weight: 700;}
.f-we-900 {font-weight: 900;}
@media all and (max-width: 575px) {
    .xs-f-we-100 {font-weight: 100;}
    .xs-f-we-300 {font-weight: 300;}
    .xs-f-we-400 {font-weight: 400;}
    .xs-f-we-600 {font-weight: 600;}
    .xs-f-we-700 {font-weight: 700;}
    .xs-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 576px) {
    .sm-f-we-100 {font-weight: 100;}
    .sm-f-we-300 {font-weight: 300;}
    .sm-f-we-400 {font-weight: 400;}
    .sm-f-we-600 {font-weight: 600;}
    .sm-f-we-700 {font-weight: 700;}
    .sm-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .sm-o-f-we-100 {font-weight: 100;}
    .sm-o-f-we-300 {font-weight: 300;}
    .sm-o-f-we-400 {font-weight: 400;}
    .sm-o-f-we-600 {font-weight: 600;}
    .sm-o-f-we-700 {font-weight: 700;}
    .sm-o-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 768px) {
    .md-f-we-100 {font-weight: 100;}
    .md-f-we-300 {font-weight: 300;}
    .md-f-we-400 {font-weight: 400;}
    .md-f-we-600 {font-weight: 600;}
    .md-f-we-700 {font-weight: 700;}
    .md-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .md-o-f-we-100 {font-weight: 100;}
    .md-o-f-we-300 {font-weight: 300;}
    .md-o-f-we-400 {font-weight: 400;}
    .md-o-f-we-600 {font-weight: 600;}
    .md-o-f-we-700 {font-weight: 700;}
    .md-o-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 992px) {
    .lg-f-we-100 {font-weight: 100;}
    .lg-f-we-300 {font-weight: 300;}
    .lg-f-we-400 {font-weight: 400;}
    .lg-f-we-600 {font-weight: 600;}
    .lg-f-we-700 {font-weight: 700;}
    .lg-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .lg-o-f-we-100 {font-weight: 100;}
    .lg-o-f-we-300 {font-weight: 300;}
    .lg-o-f-we-400 {font-weight: 400;}
    .lg-o-f-we-600 {font-weight: 600;}
    .lg-o-f-we-700 {font-weight: 700;}
    .lg-o-f-we-900 {font-weight: 900;}
}
@media all and (min-width: 1200px) {
    .xl-f-we-100 {font-weight: 100;}
    .xl-f-we-300 {font-weight: 300;}
    .xl-f-we-400 {font-weight: 400;}
    .xl-f-we-600 {font-weight: 600;}
    .xl-f-we-700 {font-weight: 700;}
    .xl-f-we-900 {font-weight: 900;}
}
