.lh {
    &-6 {line-height: 6px;}
    &-8 {line-height: 8px;}
    &-10 {line-height: 10px;}
    &-11 {line-height: 11px;}
    &-12 {line-height: 12px;}
    &-13 {line-height: 13px;}
    &-14 {line-height: 14px;}
    &-15 {line-height: 15px;}
    &-16 {line-height: 16px;}
    &-17 {line-height: 17px;}
    &-18 {line-height: 18px;}
    &-19 {line-height: 19px;}
    &-20 {line-height: 20px;}
    &-21 {line-height: 21px;}
    &-22 {line-height: 22px;}
    &-24 {line-height: 24px;}
    &-26 {line-height: 26px;}
    &-28 {line-height: 28px;}
    &-30 {line-height: 30px;}
    &-32 {line-height: 32px;}
    &-34 {line-height: 34px;}
    &-36 {line-height: 36px;}
    &-38 {line-height: 38px;}
    &-40 {line-height: 40px;}
    &-42 {line-height: 42px;}
    &-44 {line-height: 44px;}
    &-46 {line-height: 46px;}
    &-48 {line-height: 48px;}
    &-50 {line-height: 50px;}
    &-60 {line-height: 60px;}
    &-70 {line-height: 70px;}
    &-80 {line-height: 80px;}
}
@media all and (max-width: 575px) {
    .xs-o {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 576px) {
    .sm {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 768px) {
    .md {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .md-o {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 992px) {
    .lg {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .lg-o {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
@media all and (min-width: 1200px) {
    .xl {
        &-lh {
            &-6 {line-height: 6px;}
            &-8 {line-height: 8px;}
            &-10 {line-height: 10px;}
            &-11 {line-height: 11px;}
            &-12 {line-height: 12px;}
            &-13 {line-height: 13px;}
            &-14 {line-height: 14px;}
            &-15 {line-height: 15px;}
            &-16 {line-height: 16px;}
            &-17 {line-height: 17px;}
            &-18 {line-height: 18px;}
            &-19 {line-height: 19px;}
            &-20 {line-height: 20px;}
            &-21 {line-height: 21px;}
            &-22 {line-height: 22px;}
            &-24 {line-height: 24px;}
            &-26 {line-height: 26px;}
            &-28 {line-height: 28px;}
            &-30 {line-height: 30px;}
            &-32 {line-height: 32px;}
            &-34 {line-height: 34px;}
            &-36 {line-height: 36px;}
            &-38 {line-height: 38px;}
            &-40 {line-height: 40px;}
            &-42 {line-height: 42px;}
            &-44 {line-height: 44px;}
            &-46 {line-height: 46px;}
            &-48 {line-height: 48px;}
            &-50 {line-height: 50px;}
            &-60 {line-height: 60px;}
            &-70 {line-height: 70px;}
            &-80 {line-height: 80px;}
        }
    }
}
