@import '../../theme/theme';
a.c-black:hover, a.c-black:focus {color: $c-black;}
a.c-grey-1:hover, a.c-grey-1:focus {color: $c-grey-first;}
a.c-grey-2:hover, a.c-grey-2:focus {color: $c-grey-second;}
a.c-grey-3:hover, a.c-grey-3:focus {color: $c-grey-third;}
a.c-grey-4:hover, a.c-grey-4:focus {color: $c-grey-fourth;}
a.c-grey-5:hover, a.c-grey-5:focus {color: $c-grey-fifth;}
a.c-grey-6:hover, a.c-grey-6:focus {color: $c-grey-sixth;}
a.c-grey-7:hover, a.c-grey-7:focus {color: $c-grey-seventh;}
a.c-grey-8:hover, a.c-grey-8:focus {color: $c-grey-eighth;}
a.c-grey-9:hover, a.c-grey-9:focus {color: $c-grey-ninth;}
a.c-grey-10:hover, a.c-grey-10:focus {color: $c-grey-tenth;}
a.c-white:hover, a.c-white:focus {color: $c-white;}

a.c-theme-1:hover, a.c-theme-1:focus {color: $c-theme-first;}
a.c-theme-2:hover, a.c-theme-2:focus {color: $c-theme-second;}
a.c-theme-3:hover, a.c-theme-3:focus {color: $c-theme-third;}
a.c-theme-4:hover, a.c-theme-4:focus {color: $c-theme-fourth;}
a.c-theme-5:hover, a.c-theme-5:focus {color: $c-theme-fifth;}
a.c-theme-6:hover, a.c-theme-6:focus {color: $c-theme-sixth;}
a.c-theme-7:hover, a.c-theme-7:focus {color: $c-theme-seventh;}
a.c-theme-8:hover, a.c-theme-8:focus {color: $c-theme-eighth;}
a.c-theme-9:hover, a.c-theme-9:focus {color: $c-theme-ninth;}
a.c-theme-10:hover, a.c-theme-10:focus {color: $c-theme-tenth;}

a.c-success:hover, a.c-success:focus {color: $c-success;}
a.c-warning:hover, a.c-warning:focus {color: $c-warning;}
a.c-danger:hover, a.c-danger:focus {color: $c-danger;}
