.fs {
    &-6 {font-size: 6px;}
    &-8 {font-size: 8px;}
    &-10 {font-size: 10px;}
    &-11 {font-size: 11px;}
    &-12 {font-size: 12px;}
    &-13 {font-size: 13px;}
    &-14 {font-size: 14px;}
    &-15 {font-size: 15px;}
    &-16 {font-size: 16px;}
    &-17 {font-size: 17px;}
    &-18 {font-size: 18px;}
    &-19 {font-size: 19px;}
    &-20 {font-size: 20px;}
    &-21 {font-size: 21px;}
    &-22 {font-size: 22px;}
    &-24 {font-size: 24px;}
    &-26 {font-size: 26px;}
    &-28 {font-size: 28px;}
    &-30 {font-size: 30px;}
    &-32 {font-size: 32px;}
    &-34 {font-size: 34px;}
    &-36 {font-size: 36px;}
    &-38 {font-size: 38px;}
    &-40 {font-size: 40px;}
    &-42 {font-size: 42px;}
    &-44 {font-size: 44px;}
    &-46 {font-size: 46px;}
    &-48 {font-size: 48px;}
}
@media all and (max-width: 575px) {
    .xs-o {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 576px) {
    .sm {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .sm-o {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 768px) {
    .md {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .md-o {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 992px) {
    .lg {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .lg-o {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
@media all and (min-width: 1200px) {
    .xl {
        &-fs {
            &-6 {font-size: 6px;}
            &-8 {font-size: 8px;}
            &-10 {font-size: 10px;}
            &-11 {font-size: 11px;}
            &-12 {font-size: 12px;}
            &-13 {font-size: 13px;}
            &-14 {font-size: 14px;}
            &-15 {font-size: 15px;}
            &-16 {font-size: 16px;}
            &-17 {font-size: 17px;}
            &-18 {font-size: 18px;}
            &-19 {font-size: 19px;}
            &-20 {font-size: 20px;}
            &-21 {font-size: 21px;}
            &-22 {font-size: 22px;}
            &-24 {font-size: 24px;}
            &-26 {font-size: 26px;}
            &-28 {font-size: 28px;}
            &-30 {font-size: 30px;}
            &-32 {font-size: 32px;}
            &-34 {font-size: 34px;}
            &-36 {font-size: 36px;}
            &-38 {font-size: 38px;}
            &-40 {font-size: 40px;}
            &-42 {font-size: 42px;}
            &-44 {font-size: 44px;}
            &-46 {font-size: 46px;}
            &-48 {font-size: 48px;}
        }
    }
}
