@import '../../theme/theme';

.c-black {color: $c-black;}
.c-grey-1 {color: $c-grey-first;}
.c-grey-2 {color: $c-grey-second;}
.c-grey-3 {color: $c-grey-third;}
.c-grey-4 {color: $c-grey-fourth;}
.c-grey-5 {color: $c-grey-fifth;}
.c-grey-6 {color: $c-grey-sixth;}
.c-grey-7 {color: $c-grey-seventh;}
.c-grey-8 {color: $c-grey-eighth;}
.c-grey-9 {color: $c-grey-ninth;}
.c-grey-10 {color: $c-grey-tenth;}
.c-white {color: $c-white;}

.c-theme-1 {color: $c-theme-first;}
.c-theme-2 {color: $c-theme-second;}
.c-theme-3 {color: $c-theme-third;}
.c-theme-4 {color: $c-theme-fourth;}
.c-theme-5 {color: $c-theme-fifth;}
.c-theme-6 {color: $c-theme-sixth;}
.c-theme-7 {color: $c-theme-seventh;}
.c-theme-8 {color: $c-theme-eighth;}
.c-theme-9 {color: $c-theme-ninth;}
.c-theme-10 {color: $c-theme-tenth;}

.c-success {color: $c-success;}
.c-warning {color: $c-warning;}
.c-danger {color: $c-danger;}
