@import '../../theme/theme';

.bg-black {background-color: $c-black;}
.bg-grey-1 {background-color: $c-grey-first;}
.bg-grey-2 {background-color: $c-grey-second;}
.bg-grey-3 {background-color: $c-grey-third;}
.bg-grey-4 {background-color: $c-grey-fourth;}
.bg-grey-5 {background-color: $c-grey-fifth;}
.bg-grey-6 {background-color: $c-grey-sixth;}
.bg-grey-7 {background-color: $c-grey-seventh;}
.bg-grey-8 {background-color: $c-grey-eighth;}
.bg-grey-9 {background-color: $c-grey-ninth;}
.bg-grey-10 {background-color: $c-grey-tenth;}
.bg-white {background-color: $c-white;}

.bg-theme-1 {background-color: $c-theme-first;}
.bg-theme-2 {background-color: $c-theme-second;}
.bg-theme-3 {background-color: $c-theme-third;}
.bg-theme-4 {background-color: $c-theme-fourth;}
.bg-theme-5 {background-color: $c-theme-fifth;}
.bg-theme-6 {background-color: $c-theme-sixth;}
.bg-theme-7 {background-color: $c-theme-seventh;}
.bg-theme-8 {background-color: $c-theme-eighth;}
.bg-theme-9 {background-color: $c-theme-ninth;}
.bg-theme-10 {background-color: $c-theme-tenth;}

.bg-success {background-color: $c-success;}
.bg-warning {background-color: $c-warning;}
.bg-danger {background-color: $c-danger;}
