.full-h {height: 100%;}
.h100 {height: 100px;}
.minh100 {min-height: 100px;}
.maxh100 {max-height: 100px;}
.h150 {height: 150px;}
.minh150 {min-height: 150px;}
.maxh150 {max-height: 150px;}
.h200 {height: 200px;}
.minh200 {min-height: 200px;}
.maxh200 {max-height: 200px;}
.h250 {height: 250px;}
.minh250 {min-height: 250px;}
.maxh250 {max-height: 250px;}
.h300 {height: 300px;}
.minh300 {min-height: 300px;}
.maxh300 {max-height: 300px;}
.h400 {height: 400px;}
.minh400 {min-height: 400px;}
.maxh400 {max-height: 400px;}
.h500 {height: 500px;}
.minh500 {min-height: 500px;}
.maxh500 {max-height: 500px;}
.h600 {height: 600px;}
.minh600 {min-height: 600px;}
.maxh600 {max-height: 600px;}
.h700 {height: 700px;}
.minh700 {min-height: 700px;}
.maxh700 {max-height: 700px;}
@media all and (max-height: 575px) {
    .xs-full-h {height: 100%;}
    .xs-h100 {height: 100px;}
    .xs-minh100 {min-height: 100px;}
    .xs-maxh100 {max-height: 100px;}
    .xs-h150 {height: 150px;}
    .xs-minh150 {min-height: 150px;}
    .xs-maxh150 {max-height: 150px;}
    .xs-h200 {height: 200px;}
    .xs-minh200 {min-height: 200px;}
    .xs-maxh200 {max-height: 200px;}
    .xs-h250 {height: 250px;}
    .xs-minh250 {min-height: 250px;}
    .xs-maxh250 {max-height: 250px;}
    .xs-h300 {height: 300px;}
    .xs-minh300 {min-height: 300px;}
    .xs-maxh300 {max-height: 300px;}
    .xs-h400 {height: 400px;}
    .xs-minh400 {min-height: 400px;}
    .xs-maxh400 {max-height: 400px;}
    .xs-h500 {height: 500px;}
    .xs-minh500 {min-height: 500px;}
    .xs-maxh500 {max-height: 500px;}
    .xs-h600 {height: 600px;}
    .xs-minh600 {min-height: 600px;}
    .xs-maxh600 {max-height: 600px;}
    .xs-h700 {height: 700px;}
    .xs-minh700 {min-height: 700px;}
    .xs-maxh700 {max-height: 700px;}
}
@media all and (min-height: 576px) {
    .sm-full-h {height: 100%;}
    .sm-h100 {height: 100px;}
    .sm-minh100 {min-height: 100px;}
    .sm-maxh100 {max-height: 100px;}
    .sm-h150 {height: 150px;}
    .sm-minh150 {min-height: 150px;}
    .sm-maxh150 {max-height: 150px;}
    .sm-h200 {height: 200px;}
    .sm-minh200 {min-height: 200px;}
    .sm-maxh200 {max-height: 200px;}
    .sm-h250 {height: 250px;}
    .sm-minh250 {min-height: 250px;}
    .sm-maxh250 {max-height: 250px;}
    .sm-h300 {height: 300px;}
    .sm-minh300 {min-height: 300px;}
    .sm-maxh300 {max-height: 300px;}
    .sm-h400 {height: 400px;}
    .sm-minh400 {min-height: 400px;}
    .sm-maxh400 {max-height: 400px;}
    .sm-h500 {height: 500px;}
    .sm-minh500 {min-height: 500px;}
    .sm-maxh500 {max-height: 500px;}
    .sm-h600 {height: 600px;}
    .sm-minh600 {min-height: 600px;}
    .sm-maxh600 {max-height: 600px;}
    .sm-h700 {height: 700px;}
    .sm-minh700 {min-height: 700px;}
    .sm-maxh700 {max-height: 700px;}
}
@media all and (min-height: 768px) {
    .md-full-h {height: 100%;}
    .md-h100 {height: 100px;}
    .md-minh100 {min-height: 100px;}
    .md-maxh100 {max-height: 100px;}
    .md-h150 {height: 150px;}
    .md-minh150 {min-height: 150px;}
    .md-maxh150 {max-height: 150px;}
    .md-h200 {height: 200px;}
    .md-minh200 {min-height: 200px;}
    .md-maxh200 {max-height: 200px;}
    .md-h250 {height: 250px;}
    .md-minh250 {min-height: 250px;}
    .md-maxh250 {max-height: 250px;}
    .md-h300 {height: 300px;}
    .md-minh300 {min-height: 300px;}
    .md-maxh300 {max-height: 300px;}
    .md-h400 {height: 400px;}
    .md-minh400 {min-height: 400px;}
    .md-maxh400 {max-height: 400px;}
    .md-h500 {height: 500px;}
    .md-minh500 {min-height: 500px;}
    .md-maxh500 {max-height: 500px;}
    .md-h600 {height: 600px;}
    .md-minh600 {min-height: 600px;}
    .md-maxh600 {max-height: 600px;}
    .md-h700 {height: 700px;}
    .md-minh700 {min-height: 700px;}
    .md-maxh700 {max-height: 700px;}
}
@media all and (min-height: 960px) {
    .lg-full-h {height: 100%;}
    .lg-h100 {height: 100px;}
    .lg-minh100 {min-height: 100px;}
    .lg-maxh100 {max-height: 100px;}
    .lg-h150 {height: 150px;}
    .lg-minh150 {min-height: 150px;}
    .lg-maxh150 {max-height: 150px;}
    .lg-h200 {height: 200px;}
    .lg-minh200 {min-height: 200px;}
    .lg-maxh200 {max-height: 200px;}
    .lg-h250 {height: 250px;}
    .lg-minh250 {min-height: 250px;}
    .lg-maxh250 {max-height: 250px;}
    .lg-h300 {height: 300px;}
    .lg-minh300 {min-height: 300px;}
    .lg-maxh300 {max-height: 300px;}
    .lg-h400 {height: 400px;}
    .lg-minh400 {min-height: 400px;}
    .lg-maxh400 {max-height: 400px;}
    .lg-h500 {height: 500px;}
    .lg-minh500 {min-height: 500px;}
    .lg-maxh500 {max-height: 500px;}
    .lg-h600 {height: 600px;}
    .lg-minh600 {min-height: 600px;}
    .lg-maxh600 {max-height: 600px;}
    .lg-h700 {height: 700px;}
    .lg-minh700 {min-height: 700px;}
    .lg-maxh700 {max-height: 700px;}
}
@media all and (min-height: 1140px) {
    .xl-full-h {height: 100%;}
    .xl-h100 {height: 100px;}
    .xl-minh100 {min-height: 100px;}
    .xl-maxh100 {max-height: 100px;}
    .xl-h150 {height: 150px;}
    .xl-minh150 {min-height: 150px;}
    .xl-maxh150 {max-height: 150px;}
    .xl-h200 {height: 200px;}
    .xl-minh200 {min-height: 200px;}
    .xl-maxh200 {max-height: 200px;}
    .xl-h250 {height: 250px;}
    .xl-minh250 {min-height: 250px;}
    .xl-maxh250 {max-height: 250px;}
    .xl-h300 {height: 300px;}
    .xl-minh300 {min-height: 300px;}
    .xl-maxh300 {max-height: 300px;}
    .xl-h400 {height: 400px;}
    .xl-minh400 {min-height: 400px;}
    .xl-maxh400 {max-height: 400px;}
    .xl-h500 {height: 500px;}
    .xl-minh500 {min-height: 500px;}
    .xl-maxh500 {max-height: 500px;}
    .xl-h600 {height: 600px;}
    .xl-minh600 {min-height: 600px;}
    .xl-maxh600 {max-height: 600px;}
    .xl-h700 {height: 700px;}
    .xl-minh700 {min-height: 700px;}
    .xl-maxh700 {max-height: 700px;}
}
