@import '../../config/base/base-config';

.text-l {text-align: left;}
.text-r {text-align: right;}
.text-c {text-align: center;}
.text-j {text-align: justify;}
.text-upper {text-transform: uppercase;}
.text-lower {text-transform: lowercase;}
.text-capitalize {text-transform: capitalize;}
.text-nowrap {white-space: nowrap;}
.text-ellipsis {
    &-1, &-2, &-3, &-4, &-5 {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        max-width: 100%;
    }
    &-1 {white-space: nowrap;}
    &-2, &-3, &-4, &-5 {
        height: $base-line-height*2;
        font-size: $base-font-size;
        line-height: $base-line-height;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
    &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
    &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
}
@media all and (max-width: 575px) {
    .xs-text-l {text-align: left;}
    .xs-text-r {text-align: right;}
    .xs-text-c {text-align: center;}
    .xs-text-j {text-align: justify;}
    .xs-text-upper {text-transform: uppercase;}
    .xs-text-lower {text-transform: lowercase;}
    .xs-text-capitalize {text-transform: capitalize;}
    .xs-text-nowrap {white-space: nowrap;}
    .xs-text-ellipsis {
        &-1, &-2, &-3, &-4, &-5 {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-width: 100%;
        }
        &-1 {white-space: nowrap;}
        &-2, &-3, &-4, &-5 {
            height: $base-line-height*2;
            font-size: $base-font-size;
            line-height: $base-line-height;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
        &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
        &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
    }
}
@media all and (min-width: 576px) {
    .sm-text-l {text-align: left;}
    .sm-text-r {text-align: right;}
    .sm-text-c {text-align: center;}
    .sm-text-j {text-align: justify;}
    .sm-text-upper {text-transform: uppercase;}
    .sm-text-lower {text-transform: lowercase;}
    .sm-text-capitalize {text-transform: capitalize;}
    .sm-text-nowrap {white-space: nowrap;}
    .sm-text-ellipsis {
        &-1, &-2, &-3, &-4, &-5 {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-width: 100%;
        }
        &-1 {white-space: nowrap;}
        &-2, &-3, &-4, &-5 {
            height: $base-line-height*2;
            font-size: $base-font-size;
            line-height: $base-line-height;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
        &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
        &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
    }
}
@media all and (min-width: 768px) {
    .md-text-l {text-align: left;}
    .md-text-r {text-align: right;}
    .md-text-c {text-align: center;}
    .md-text-j {text-align: justify;}
    .md-text-upper {text-transform: uppercase;}
    .md-text-lower {text-transform: lowercase;}
    .md-text-capitalize {text-transform: capitalize;}
    .md-text-nowrap {white-space: nowrap;}
    .md-text-ellipsis {
        &-1, &-2, &-3, &-4, &-5 {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-width: 100%;
        }
        &-1 {white-space: nowrap;}
        &-2, &-3, &-4, &-5 {
            height: $base-line-height*2;
            font-size: $base-font-size;
            line-height: $base-line-height;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
        &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
        &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
    }
}
@media all and (min-width: 960px) {
    .lg-text-l {text-align: left;}
    .lg-text-r {text-align: right;}
    .lg-text-c {text-align: center;}
    .lg-text-j {text-align: justify;}
    .lg-text-upper {text-transform: uppercase;}
    .lg-text-lower {text-transform: lowercase;}
    .lg-text-capitalize {text-transform: capitalize;}
    .lg-text-nowrap {white-space: nowrap;}
    .lg-text-ellipsis {
        &-1, &-2, &-3, &-4, &-5 {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-width: 100%;
        }
        &-1 {white-space: nowrap;}
        &-2, &-3, &-4, &-5 {
            height: $base-line-height*2;
            font-size: $base-font-size;
            line-height: $base-line-height;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
        &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
        &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
    }
}
@media all and (min-width: 1140px) {
    .xl-text-l {text-align: left;}
    .xl-text-r {text-align: right;}
    .xl-text-c {text-align: center;}
    .xl-text-j {text-align: justify;}
    .xl-text-upper {text-transform: uppercase;}
    .xl-text-lower {text-transform: lowercase;}
    .xl-text-capitalize {text-transform: capitalize;}
    .xl-text-nowrap {white-space: nowrap;}
    .xl-text-ellipsis {
        &-1, &-2, &-3, &-4, &-5 {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-width: 100%;
        }
        &-1 {white-space: nowrap;}
        &-2, &-3, &-4, &-5 {
            height: $base-line-height*2;
            font-size: $base-font-size;
            line-height: $base-line-height;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-3 {height: $base-line-height*3;-webkit-line-clamp: 3;}
        &-4 {height: $base-line-height*4;-webkit-line-clamp: 4;}
        &-5 {height: $base-line-height*5;-webkit-line-clamp: 5;}
    }
}
