.full-w {width: 100%;}
.w-100 {width: 100px;}
.minw-100 {min-width: 100px;}
.maxw-100 {max-width: 100px;}
.w-150 {width: 150px;}
.minw-150 {min-width: 150px;}
.maxw-150 {max-width: 150px;}
.w-200 {width: 200px;}
.minw-200 {min-width: 200px;}
.maxw-200 {max-width: 200px;}
.w-250 {width: 250px;}
.minw-250 {min-width: 250px;}
.maxw-250 {max-width: 250px;}
.w-300 {width: 300px;}
.minw-300 {min-width: 300px;}
.maxw-300 {max-width: 300px;}
.w-400 {width: 400px;}
.minw-400 {min-width: 400px;}
.maxw-400 {max-width: 400px;}
.w-500 {width: 500px;}
.minw-500 {min-width: 500px;}
.maxw-500 {max-width: 500px;}
.w-600 {width: 600px;}
.minw-600 {min-width: 600px;}
.maxw-600 {max-width: 600px;}
.w-700 {width: 700px;}
.minw-700 {min-width: 700px;}
.maxw-700 {max-width: 700px;}
@media all and (max-width: 575px) {
    .xs-full-w {width: 100%;}
    .xs-w-100 {width: 100px;}
    .xs-minw-100 {min-width: 100px;}
    .xs-maxw-100 {max-width: 100px;}
    .xs-w-150 {width: 150px;}
    .xs-minw-150 {min-width: 150px;}
    .xs-maxw-150 {max-width: 150px;}
    .xs-w-200 {width: 200px;}
    .xs-minw-200 {min-width: 200px;}
    .xs-maxw-200 {max-width: 200px;}
    .xs-w-250 {width: 250px;}
    .xs-minw-250 {min-width: 250px;}
    .xs-maxw-250 {max-width: 250px;}
    .xs-w-300 {width: 300px;}
    .xs-minw-300 {min-width: 300px;}
    .xs-maxw-300 {max-width: 300px;}
    .xs-w-400 {width: 400px;}
    .xs-minw-400 {min-width: 400px;}
    .xs-maxw-400 {max-width: 400px;}
    .xs-w-500 {width: 500px;}
    .xs-minw-500 {min-width: 500px;}
    .xs-maxw-500 {max-width: 500px;}
    .xs-w-600 {width: 600px;}
    .xs-minw-600 {min-width: 600px;}
    .xs-maxw-600 {max-width: 600px;}
    .xs-w-700 {width: 700px;}
    .xs-minw-700 {min-width: 700px;}
    .xs-maxw-700 {max-width: 700px;}
}
@media all and (min-width: 576px) {
    .sm-full-w {width: 100%;}
    .sm-w-100 {width: 100px;}
    .sm-minw-100 {min-width: 100px;}
    .sm-maxw-100 {max-width: 100px;}
    .sm-w-150 {width: 150px;}
    .sm-minw-150 {min-width: 150px;}
    .sm-maxw-150 {max-width: 150px;}
    .sm-w-200 {width: 200px;}
    .sm-minw-200 {min-width: 200px;}
    .sm-maxw-200 {max-width: 200px;}
    .sm-w-250 {width: 250px;}
    .sm-minw-250 {min-width: 250px;}
    .sm-maxw-250 {max-width: 250px;}
    .sm-w-300 {width: 300px;}
    .sm-minw-300 {min-width: 300px;}
    .sm-maxw-300 {max-width: 300px;}
    .sm-w-400 {width: 400px;}
    .sm-minw-400 {min-width: 400px;}
    .sm-maxw-400 {max-width: 400px;}
    .sm-w-500 {width: 500px;}
    .sm-minw-500 {min-width: 500px;}
    .sm-maxw-500 {max-width: 500px;}
    .sm-w-600 {width: 600px;}
    .sm-minw-600 {min-width: 600px;}
    .sm-maxw-600 {max-width: 600px;}
    .sm-w-700 {width: 700px;}
    .sm-minw-700 {min-width: 700px;}
    .sm-maxw-700 {max-width: 700px;}
}
@media all and (min-width: 768px) {
    .md-full-w {width: 100%;}
    .md-w-100 {width: 100px;}
    .md-minw-100 {min-width: 100px;}
    .md-maxw-100 {max-width: 100px;}
    .md-w-150 {width: 150px;}
    .md-minw-150 {min-width: 150px;}
    .md-maxw-150 {max-width: 150px;}
    .md-w-200 {width: 200px;}
    .md-minw-200 {min-width: 200px;}
    .md-maxw-200 {max-width: 200px;}
    .md-w-250 {width: 250px;}
    .md-minw-250 {min-width: 250px;}
    .md-maxw-250 {max-width: 250px;}
    .md-w-300 {width: 300px;}
    .md-minw-300 {min-width: 300px;}
    .md-maxw-300 {max-width: 300px;}
    .md-w-400 {width: 400px;}
    .md-minw-400 {min-width: 400px;}
    .md-maxw-400 {max-width: 400px;}
    .md-w-500 {width: 500px;}
    .md-minw-500 {min-width: 500px;}
    .md-maxw-500 {max-width: 500px;}
    .md-w-600 {width: 600px;}
    .md-minw-600 {min-width: 600px;}
    .md-maxw-600 {max-width: 600px;}
    .md-w-700 {width: 700px;}
    .md-minw-700 {min-width: 700px;}
    .md-maxw-700 {max-width: 700px;}
}
@media all and (min-width: 960px) {
    .lg-full-w {width: 100%;}
    .lg-w-100 {width: 100px;}
    .lg-minw-100 {min-width: 100px;}
    .lg-maxw-100 {max-width: 100px;}
    .lg-w-150 {width: 150px;}
    .lg-minw-150 {min-width: 150px;}
    .lg-maxw-150 {max-width: 150px;}
    .lg-w-200 {width: 200px;}
    .lg-minw-200 {min-width: 200px;}
    .lg-maxw-200 {max-width: 200px;}
    .lg-w-250 {width: 250px;}
    .lg-minw-250 {min-width: 250px;}
    .lg-maxw-250 {max-width: 250px;}
    .lg-w-300 {width: 300px;}
    .lg-minw-300 {min-width: 300px;}
    .lg-maxw-300 {max-width: 300px;}
    .lg-w-400 {width: 400px;}
    .lg-minw-400 {min-width: 400px;}
    .lg-maxw-400 {max-width: 400px;}
    .lg-w-500 {width: 500px;}
    .lg-minw-500 {min-width: 500px;}
    .lg-maxw-500 {max-width: 500px;}
    .lg-w-600 {width: 600px;}
    .lg-minw-600 {min-width: 600px;}
    .lg-maxw-600 {max-width: 600px;}
    .lg-w-700 {width: 700px;}
    .lg-minw-700 {min-width: 700px;}
    .lg-maxw-700 {max-width: 700px;}
}
@media all and (min-width: 1140px) {
    .xl-full-w {width: 100%;}
    .xl-w-100 {width: 100px;}
    .xl-minw-100 {min-width: 100px;}
    .xl-maxw-100 {max-width: 100px;}
    .xl-w-150 {width: 150px;}
    .xl-minw-150 {min-width: 150px;}
    .xl-maxw-150 {max-width: 150px;}
    .xl-w-200 {width: 200px;}
    .xl-minw-200 {min-width: 200px;}
    .xl-maxw-200 {max-width: 200px;}
    .xl-w-250 {width: 250px;}
    .xl-minw-250 {min-width: 250px;}
    .xl-maxw-250 {max-width: 250px;}
    .xl-w-300 {width: 300px;}
    .xl-minw-300 {min-width: 300px;}
    .xl-maxw-300 {max-width: 300px;}
    .xl-w-400 {width: 400px;}
    .xl-minw-400 {min-width: 400px;}
    .xl-maxw-400 {max-width: 400px;}
    .xl-w-500 {width: 500px;}
    .xl-minw-500 {min-width: 500px;}
    .xl-maxw-500 {max-width: 500px;}
    .xl-w-600 {width: 600px;}
    .xl-minw-600 {min-width: 600px;}
    .xl-maxw-600 {max-width: 600px;}
    .xl-w-700 {width: 700px;}
    .xl-minw-700 {min-width: 700px;}
    .xl-maxw-700 {max-width: 700px;}
}
