.full-w {width: 100%;}
.w-100 {width: 100px;}
.minw-100 {min-width: 100px;}
.maxw-100 {max-width: 100px;}
.w-150 {width: 150px;}
.minw-150 {min-width: 150px;}
.maxw-150 {max-width: 150px;}
.w-200 {width: 200px;}
.minw-200 {min-width: 200px;}
.maxw-200 {max-width: 200px;}
.w-250 {width: 250px;}
.minw-250 {min-width: 250px;}
.maxw-250 {max-width: 250px;}
.w-300 {width: 300px;}
.minw-300 {min-width: 300px;}
.maxw-300 {max-width: 300px;}
.w-400 {width: 400px;}
.minw-400 {min-width: 400px;}
.maxw-400 {max-width: 400px;}
.w-500 {width: 500px;}
.minw-500 {min-width: 500px;}
.maxw-500 {max-width: 500px;}
.w-600 {width: 600px;}
.minw-600 {min-width: 600px;}
.maxw-600 {max-width: 600px;}
.w-700 {width: 700px;}
.minw-700 {min-width: 700px;}
.maxw-700 {max-width: 700px;}
.w-auto {width: auto;}
.minw-auto {min-width: auto;}
.maxw-auto {max-width: auto;}
@media all and (max-width: 575px) {
    .xs-o-full-w {width: 100%;}
    .xs-o-w-100 {width: 100px;}
    .xs-o-minw-100 {min-width: 100px;}
    .xs-o-maxw-100 {max-width: 100px;}
    .xs-o-w-150 {width: 150px;}
    .xs-o-minw-150 {min-width: 150px;}
    .xs-o-maxw-150 {max-width: 150px;}
    .xs-o-w-200 {width: 200px;}
    .xs-o-minw-200 {min-width: 200px;}
    .xs-o-maxw-200 {max-width: 200px;}
    .xs-o-w-250 {width: 250px;}
    .xs-o-minw-250 {min-width: 250px;}
    .xs-o-maxw-250 {max-width: 250px;}
    .xs-o-w-300 {width: 300px;}
    .xs-o-minw-300 {min-width: 300px;}
    .xs-o-maxw-300 {max-width: 300px;}
    .xs-o-w-400 {width: 400px;}
    .xs-o-minw-400 {min-width: 400px;}
    .xs-o-maxw-400 {max-width: 400px;}
    .xs-o-w-500 {width: 500px;}
    .xs-o-minw-500 {min-width: 500px;}
    .xs-o-maxw-500 {max-width: 500px;}
    .xs-o-w-600 {width: 600px;}
    .xs-o-minw-600 {min-width: 600px;}
    .xs-o-maxw-600 {max-width: 600px;}
    .xs-o-w-700 {width: 700px;}
    .xs-o-minw-700 {min-width: 700px;}
    .xs-o-maxw-700 {max-width: 700px;}
    .xs-o-w-auto {width: auto;}
    .xs-o-minw-auto {min-width: auto;}
    .xs-o-maxw-auto {max-width: auto;}
}
@media all and (min-width: 576px) {
    .sm-full-w {width: 100%;}
    .sm-w-100 {width: 100px;}
    .sm-minw-100 {min-width: 100px;}
    .sm-maxw-100 {max-width: 100px;}
    .sm-w-150 {width: 150px;}
    .sm-minw-150 {min-width: 150px;}
    .sm-maxw-150 {max-width: 150px;}
    .sm-w-200 {width: 200px;}
    .sm-minw-200 {min-width: 200px;}
    .sm-maxw-200 {max-width: 200px;}
    .sm-w-250 {width: 250px;}
    .sm-minw-250 {min-width: 250px;}
    .sm-maxw-250 {max-width: 250px;}
    .sm-w-300 {width: 300px;}
    .sm-minw-300 {min-width: 300px;}
    .sm-maxw-300 {max-width: 300px;}
    .sm-w-400 {width: 400px;}
    .sm-minw-400 {min-width: 400px;}
    .sm-maxw-400 {max-width: 400px;}
    .sm-w-500 {width: 500px;}
    .sm-minw-500 {min-width: 500px;}
    .sm-maxw-500 {max-width: 500px;}
    .sm-w-600 {width: 600px;}
    .sm-minw-600 {min-width: 600px;}
    .sm-maxw-600 {max-width: 600px;}
    .sm-w-700 {width: 700px;}
    .sm-minw-700 {min-width: 700px;}
    .sm-maxw-700 {max-width: 700px;}
    .sm-w-auto {width: auto;}
    .sm-minw-auto {min-width: auto;}
    .sm-maxw-auto {max-width: auto;}
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .sm-o-full-w {width: 100%;}
    .sm-o-w-100 {width: 100px;}
    .sm-o-minw-100 {min-width: 100px;}
    .sm-o-maxw-100 {max-width: 100px;}
    .sm-o-w-150 {width: 150px;}
    .sm-o-minw-150 {min-width: 150px;}
    .sm-o-maxw-150 {max-width: 150px;}
    .sm-o-w-200 {width: 200px;}
    .sm-o-minw-200 {min-width: 200px;}
    .sm-o-maxw-200 {max-width: 200px;}
    .sm-o-w-250 {width: 250px;}
    .sm-o-minw-250 {min-width: 250px;}
    .sm-o-maxw-250 {max-width: 250px;}
    .sm-o-w-300 {width: 300px;}
    .sm-o-minw-300 {min-width: 300px;}
    .sm-o-maxw-300 {max-width: 300px;}
    .sm-o-w-400 {width: 400px;}
    .sm-o-minw-400 {min-width: 400px;}
    .sm-o-maxw-400 {max-width: 400px;}
    .sm-o-w-500 {width: 500px;}
    .sm-o-minw-500 {min-width: 500px;}
    .sm-o-maxw-500 {max-width: 500px;}
    .sm-o-w-600 {width: 600px;}
    .sm-o-minw-600 {min-width: 600px;}
    .sm-o-maxw-600 {max-width: 600px;}
    .sm-o-w-700 {width: 700px;}
    .sm-o-minw-700 {min-width: 700px;}
    .sm-o-maxw-700 {max-width: 700px;}
    .sm-o-w-auto {width: auto;}
    .sm-o-minw-auto {min-width: auto;}
    .sm-o-maxw-auto {max-width: auto;}
}
@media all and (min-width: 768px) {
    .md-full-w {width: 100%;}
    .md-w-100 {width: 100px;}
    .md-minw-100 {min-width: 100px;}
    .md-maxw-100 {max-width: 100px;}
    .md-w-150 {width: 150px;}
    .md-minw-150 {min-width: 150px;}
    .md-maxw-150 {max-width: 150px;}
    .md-w-200 {width: 200px;}
    .md-minw-200 {min-width: 200px;}
    .md-maxw-200 {max-width: 200px;}
    .md-w-250 {width: 250px;}
    .md-minw-250 {min-width: 250px;}
    .md-maxw-250 {max-width: 250px;}
    .md-w-300 {width: 300px;}
    .md-minw-300 {min-width: 300px;}
    .md-maxw-300 {max-width: 300px;}
    .md-w-400 {width: 400px;}
    .md-minw-400 {min-width: 400px;}
    .md-maxw-400 {max-width: 400px;}
    .md-w-500 {width: 500px;}
    .md-minw-500 {min-width: 500px;}
    .md-maxw-500 {max-width: 500px;}
    .md-w-600 {width: 600px;}
    .md-minw-600 {min-width: 600px;}
    .md-maxw-600 {max-width: 600px;}
    .md-w-700 {width: 700px;}
    .md-minw-700 {min-width: 700px;}
    .md-maxw-700 {max-width: 700px;}
    .md-w-auto {width: auto;}
    .md-minw-auto {min-width: auto;}
    .md-maxw-auto {max-width: auto;}
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .md-o-full-w {width: 100%;}
    .md-o-w-100 {width: 100px;}
    .md-o-minw-100 {min-width: 100px;}
    .md-o-maxw-100 {max-width: 100px;}
    .md-o-w-150 {width: 150px;}
    .md-o-minw-150 {min-width: 150px;}
    .md-o-maxw-150 {max-width: 150px;}
    .md-o-w-200 {width: 200px;}
    .md-o-minw-200 {min-width: 200px;}
    .md-o-maxw-200 {max-width: 200px;}
    .md-o-w-250 {width: 250px;}
    .md-o-minw-250 {min-width: 250px;}
    .md-o-maxw-250 {max-width: 250px;}
    .md-o-w-300 {width: 300px;}
    .md-o-minw-300 {min-width: 300px;}
    .md-o-maxw-300 {max-width: 300px;}
    .md-o-w-400 {width: 400px;}
    .md-o-minw-400 {min-width: 400px;}
    .md-o-maxw-400 {max-width: 400px;}
    .md-o-w-500 {width: 500px;}
    .md-o-minw-500 {min-width: 500px;}
    .md-o-maxw-500 {max-width: 500px;}
    .md-o-w-600 {width: 600px;}
    .md-o-minw-600 {min-width: 600px;}
    .md-o-maxw-600 {max-width: 600px;}
    .md-o-w-700 {width: 700px;}
    .md-o-minw-700 {min-width: 700px;}
    .md-o-maxw-700 {max-width: 700px;}
    .md-o-w-auto {width: auto;}
    .md-o-minw-auto {min-width: auto;}
    .md-o-maxw-auto {max-width: auto;}
}
@media all and (min-width: 992px) {
    .lg-full-w {width: 100%;}
    .lg-w-100 {width: 100px;}
    .lg-minw-100 {min-width: 100px;}
    .lg-maxw-100 {max-width: 100px;}
    .lg-w-150 {width: 150px;}
    .lg-minw-150 {min-width: 150px;}
    .lg-maxw-150 {max-width: 150px;}
    .lg-w-200 {width: 200px;}
    .lg-minw-200 {min-width: 200px;}
    .lg-maxw-200 {max-width: 200px;}
    .lg-w-250 {width: 250px;}
    .lg-minw-250 {min-width: 250px;}
    .lg-maxw-250 {max-width: 250px;}
    .lg-w-300 {width: 300px;}
    .lg-minw-300 {min-width: 300px;}
    .lg-maxw-300 {max-width: 300px;}
    .lg-w-400 {width: 400px;}
    .lg-minw-400 {min-width: 400px;}
    .lg-maxw-400 {max-width: 400px;}
    .lg-w-500 {width: 500px;}
    .lg-minw-500 {min-width: 500px;}
    .lg-maxw-500 {max-width: 500px;}
    .lg-w-600 {width: 600px;}
    .lg-minw-600 {min-width: 600px;}
    .lg-maxw-600 {max-width: 600px;}
    .lg-w-700 {width: 700px;}
    .lg-minw-700 {min-width: 700px;}
    .lg-maxw-700 {max-width: 700px;}
    .lg-w-auto {width: auto;}
    .lg-minw-auto {min-width: auto;}
    .lg-maxw-auto {max-width: auto;}
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .lg-o-full-w {width: 100%;}
    .lg-o-w-100 {width: 100px;}
    .lg-o-minw-100 {min-width: 100px;}
    .lg-o-maxw-100 {max-width: 100px;}
    .lg-o-w-150 {width: 150px;}
    .lg-o-minw-150 {min-width: 150px;}
    .lg-o-maxw-150 {max-width: 150px;}
    .lg-o-w-200 {width: 200px;}
    .lg-o-minw-200 {min-width: 200px;}
    .lg-o-maxw-200 {max-width: 200px;}
    .lg-o-w-250 {width: 250px;}
    .lg-o-minw-250 {min-width: 250px;}
    .lg-o-maxw-250 {max-width: 250px;}
    .lg-o-w-300 {width: 300px;}
    .lg-o-minw-300 {min-width: 300px;}
    .lg-o-maxw-300 {max-width: 300px;}
    .lg-o-w-400 {width: 400px;}
    .lg-o-minw-400 {min-width: 400px;}
    .lg-o-maxw-400 {max-width: 400px;}
    .lg-o-w-500 {width: 500px;}
    .lg-o-minw-500 {min-width: 500px;}
    .lg-o-maxw-500 {max-width: 500px;}
    .lg-o-w-600 {width: 600px;}
    .lg-o-minw-600 {min-width: 600px;}
    .lg-o-maxw-600 {max-width: 600px;}
    .lg-o-w-700 {width: 700px;}
    .lg-o-minw-700 {min-width: 700px;}
    .lg-o-maxw-700 {max-width: 700px;}
    .lg-o-w-auto {width: auto;}
    .lg-o-minw-auto {min-width: auto;}
    .lg-o-maxw-auto {max-width: auto;}
}
@media all and (min-width: 1200px) {
    .xl-full-w {width: 100%;}
    .xl-w-100 {width: 100px;}
    .xl-minw-100 {min-width: 100px;}
    .xl-maxw-100 {max-width: 100px;}
    .xl-w-150 {width: 150px;}
    .xl-minw-150 {min-width: 150px;}
    .xl-maxw-150 {max-width: 150px;}
    .xl-w-200 {width: 200px;}
    .xl-minw-200 {min-width: 200px;}
    .xl-maxw-200 {max-width: 200px;}
    .xl-w-250 {width: 250px;}
    .xl-minw-250 {min-width: 250px;}
    .xl-maxw-250 {max-width: 250px;}
    .xl-w-300 {width: 300px;}
    .xl-minw-300 {min-width: 300px;}
    .xl-maxw-300 {max-width: 300px;}
    .xl-w-400 {width: 400px;}
    .xl-minw-400 {min-width: 400px;}
    .xl-maxw-400 {max-width: 400px;}
    .xl-w-500 {width: 500px;}
    .xl-minw-500 {min-width: 500px;}
    .xl-maxw-500 {max-width: 500px;}
    .xl-w-600 {width: 600px;}
    .xl-minw-600 {min-width: 600px;}
    .xl-maxw-600 {max-width: 600px;}
    .xl-w-700 {width: 700px;}
    .xl-minw-700 {min-width: 700px;}
    .xl-maxw-700 {max-width: 700px;}
    .xl-w-auto {width: auto;}
    .xl-minw-auto {min-width: auto;}
    .xl-maxw-auto {max-width: auto;}
}
