$blockquote-pad: 10px 20px;
$blockquote-marg: 0 0 20px;
$blockquote-fs: 17.5px;
$blockquote-border-lw: 5px;
$blockquote-border-ltype: solid;
$blockquote-footer-lh: 1.42857143;
$blockquote-footer-fs: 80%;
$blokcquote-reverse-pad-r: 15px;
$blokcquote-reverse-pad-l: 0;
