$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
$code-pad: 2px 4px;
$code-fs: 90%;
$code-b-r: 4px;

$kbd-pad: 2px 4px;
$kbd-fs: 90%;
$kbd-b-r: 3px;

$pre-pad: 9.5px;
$pre-marg: 0 0 10px;
$pre-fs: 13px;
$pre-lh: 1.42857143;
$pre-b: 1px solid #cccccc;
$pre-b-r: 4px;
