$h-fw: 500;
$h-lh: 1.1;

$h-small-fw: normal;
$h-small-lh: 1;

$h3-small-fs: 65%;
$h3-marg-t: 20px;
$h3-marg-b: 10px;

$h6-small-fs: 75%;
$h6-marg-t: 10px;
$h6-marg-b: 10px;

$h1-fs: 36px;
$h2-fs: 30px;
$h3-fs: 24px;
$h4-fs: 18px;
$h5-fs: 14px;
$h6-fs: 12px;

$small-fs: 85%;
