$list-marg-t: 0;
$list-marg-b: 10px;

$list-list-marg-b: 0;

$list-unstyled-pad-l: 0;
$list-inline-pad-l: 0;
$list-inline-marg-l: -5px;

$list-inline-item-pad-l: 5px;
$list-inline-item-pad-r: 5px;

$dl-marg-t: 0;
$dl-marg-b: 20px;

$dt-lh: 1.42857143;

$dl-horizontal-dt-w: 160px;
$dl-horizontal-dd-marg-l: 180px;
